body {
	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
	color: #00b7ff;
}
textarea {
	width: 50%;
	height: 100px;
}
input {
	margin-top: 15px; 
	display:block;
}
li {
	padding: 10px 0px;
	border-bottom: 1px solid #ddd;
}